.header {
   &__wrapper {
      background-color: $whiteEC;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 0;
   }

   &__left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 42%;
      @media (max-width: 1400px) {
         width: 45%;
      }
      @media (max-width: 1200px) {
         width: 40%;
      }
      @media (max-width: 989px) {
         width: 100%;
         flex-direction: column;
      }
   }

   &__logo {
      img {
         width: 190px;
         height: 43px;
      }
      @media (max-width: 1200px) {
         margin-right: 15px;
      }
      @media (max-width: 989px) {
         margin: 0 auto 20px auto;
      }
   }

   &__search {
      height: 41px;
      position: relative;
      &:before {
         content: "";
         background: url("../img/header/search.svg") center no-repeat;
         width: 12px;
         height: 12px;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 20px;
      }
      @media (max-width: 1400px) {
         width: 60%;
      }
      @media (max-width: 1200px) {
         width: 50%;
      }
      @media (max-width: 575px) {
         width: 90%;
      }
   }

   &__input {
      width: 370px;
      height: 41px;
      border: 1px solid rgba(#040404, 0.5);
      background-color: rgba(#070707, 0.03);
      padding: 0 42px;

      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: rgba(#000000, 0.5);
      border-radius: 3px;
      &:focus {
         outline: none;
         &::placeholder {
            font-size: 0;
            color: transparent;
         }
      }
      @media (max-width: 1400px) {
         width: 100%;
      }
   }

   &__right {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1400px) {
         width: 49%;
      }
      @media (max-width: 1200px) {
         width: 55%;
      }
      @media (max-width: 989px) {
         display: none;
      }
   }

   &__location-text {
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      padding-left: 28px;
      position: relative;
      &:before {
         content: "";
         width: 17px;
         height: 25px;
         background: url("../img/header/location.svg") center no-repeat;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 0;
      }
      &:after {
         content: "";
         width: 0;
         height: 2px;
         background-color: #000;
         position: absolute;
         bottom: -5px;
         right: 0;
         transition: width 0.3s ease-in;
      }
      &:hover {
         &:after {
            width: 60%;
         }
      }
   }

   &__call {
      display: inline-flex;
      flex-direction: column;
      .header__call-select {
         position: relative;
         display: inline-flex;
         height: 40px;

         &[data-state="active"] {
            .header__call-select-default {
               background-color: #d0d0d0;
               border-radius: 3px;

               &::before {
                  transform: translate(-3px, -50%) rotate(-45deg);
                  background-color: rgba(#000, 0.8);
               }

               &::after {
                  background-color: rgba(#000, 0.8);
                  transform: translate(3px, -50%) rotate(45deg);
               }
            }

            .header__call-select-content {
               opacity: 1;
            }

            .header__call-select-input + .header__call-select-label {
               max-height: 40px;
               border-top-width: 1px;
            }
         }
      }
      .header__call-select-default {
         display: flex;
         align-items: center;
         width: 100%;
         height: 100%;
         font-size: 18px;
         font-weight: 600;
         color: #000;
         padding: 0 30px 0 10px;
         cursor: pointer;
         transition: all 0.3s ease-out;

         &::before,
         &::after {
            content: "";

            position: absolute;
            top: 50%;
            right: 5px;

            display: block;
            width: 10px;
            height: 2px;

            transition: all 0.3s ease-out;

            background-color: $yellow;
            transform: translate(-3px, -50%) rotate(45deg);
         }
         &::after {
            transform: translate(3px, -50%) rotate(-45deg);
         }

         &:hover {
            color: rgba(#000, 0.8);
            &::before,
            &::after {
               background-color: rgba(#000, 0.8);
            }
         }
      }

      .header__call-select-content {
         position: absolute;
         top: 40px;
         left: 3px;

         display: flex;
         flex-direction: column;
         width: calc(100% - 6px);

         background-color: #d0d0d0;

         border: 1px solid transparent;
         border-top: none;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;

         transition: all 0.3s ease-out;

         opacity: 0;
         z-index: 8;
      }
      .header__call-select-input {
         display: none;

         &:checked + label {
            background-color: rgba($black, 0.7);
            color: #fff;
         }
         &:disabled + label {
            opacity: 0.6;
            pointer-events: none;
         }
      }
      .header__call-select-label {
         font-weight: 500;
         font-size: 16px;
         color: #000;
         display: flex;
         align-items: center;
         width: 100%;
         height: 40px;
         max-height: 0;
         padding: 0 16px;

         transition: all 0.2s ease-out;

         cursor: pointer;

         overflow: hidden;

         & + input + & {
            border-top: 0 solid #c7ccd160;
         }

         &:hover {
            background-color: $yellow !important;

            color: #000;
         }
      }
   }

   &__call-link {
      text-decoration: none;
      margin-left: 10px;
      font-weight: 700;
      font-size: 18px;
      color: $yellow;
      transition: all 0.3s ease-in;
      &:hover {
         color: rgba($yellow, 0.7);
      }
   }

   &__wish-link {
      display: block;
      width: 28px;
      height: 27px;
      svg {
         width: 28px;
         height: 27px;
         fill: #000;
         transition: all 0.2s ease-in;
      }
      &:hover {
         svg {
            fill: $yellow;
         }
      }
      
    
   }

   &__cart {
      display: flex;
      align-items: center;
   }

   &__cart-img {
      display: inline-block;
      position: relative;
      width: 31px;
      height: 32px;
      margin-right: 15px;
      text-decoration: none;

      img {
         display: block;
         width: 31px;
         height: 32px;
      }
   }

   &__cart-count {
      font-weight: 500;
      font-size: 8px;
      color: #fff;
      background-color: $yellow;
      border-radius: 50%;
      padding: 2px 4px;
      position: absolute;
      top: 0;
      right: -5px;
   }

   &__cart-price {
      font-weight: 500;
      font-size: 16px;
      color: #000;
      margin-bottom: 5px;
   }

   &__cart-btn {
      font-weight: 500;
      font-size: 16px;
      color: $yellow;
      text-decoration: none;
      transition: all 0.3s ease-in;
      &:hover {
         color: rgba($yellow, 0.7);
      }
   }

   &__categories {
      background: $black;
      @media (max-width: 989px) {
         display: none;
      }
   }

   &__tabs {
      display: flex;
      align-items: center;
      @media (max-width: 1400px) {
         justify-content: space-between;
      }
   }

   &__tab {
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      padding: 23px 0;
      position: relative;
      transition: color 0.3s ease-in-out;
      margin-right: 6%;

      &:before {
         content: "";
         width: 0;
         height: 2px;
         background-color: $yellow;
         box-shadow: 0 4px 20px rgba($yellow, 0.3);
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         transition: width 0.3s ease-in-out;
      }

      &.headeractivetab {
         color: $yellow;
         &:before {
            width: 100%;
         }
      }
      &:hover {
         &:not(.headeractivetab) {
            color: rgba(#fff, 0.8);
         }
      }
      @media (max-width: 1400px) {
         margin-right: 0;
      }
   }

   &__categories-blocks {
      position: relative;
   }

   &__content {
      width: 100%;
      padding: 30px 0;
      position: absolute;
      background-color: $black;
      transform: scaleY(0);
      transform-origin: 0 0;
      z-index: -100;
      user-select: none;
      opacity: 0;
      transition: all 0.3s ease-out;

      &.headeractivecontent {
         transform: scaleY(1);
         user-select: all;
         z-index: 100;
         opacity: 1;
      }
   }

   &__content-titles {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
   }

   &__content-title {
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      width: 20%;
   }

   &__content-links {
      border-top: 1px solid rgba(#fff, 0.3);
      border-bottom: 1px solid rgba(#fff, 0.3);
      padding: 30px 0;
      display: flex;
      margin-bottom: 30px;
   }
   &__content-cat {
      width: 20%;
      display: flex;
      flex-direction: column;
      a {
         display: inline;
         align-self: start;
         font-weight: 500;
         font-size: 16px;
         color: #fff;
         margin-bottom: 20px;
         text-decoration-color: transparent;
         text-decoration-thickness: 2px;
         text-underline-offset: 8px;
         transition: all 0.3s ease-in-out;
         &:last-child {
            margin-bottom: 0;
         }

         &:hover {
            text-decoration-color: #fff;
         }
      }
   }
  

   &__content-btns {
      display: flex;
      justify-content: space-between;
   }

   &__content-seemorelink {
      width: 20%;
      a {
         align-self: start;
         width: 20%;
         text-decoration: none;
         font-weight: 500;
         font-size: 16px;
         color: $yellow;
         transition: color 0.2s ease;
         &:hover {
            color: rgba($yellow, 0.7);
         }
      }
   }
}
